@model IEnumerable<IS4439_CA2.Models.ProjectComments>

@{ 
    if(TempData["Updated"] != null)
    {
        <h2 class="badge-success">@TempData["Updated"]</h2>
    }
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CommentText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CommentTimeStamp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CommentText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CommentTimeStamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Project.ProjectsID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProjectCommentsID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProjectCommentsID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProjectCommentsID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

