@model IS4439_CA2.Models.Projects
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<div class="container-fluid tm-container-content tm-mt-60">
    <div class="row mb-4">
        <h2 class="col-12 tm-text-primary">@Model.ProjectTitle</h2>
    </div>
    <div class="row tm-mb-20">
        <div class="col-xl-8 col-lg-7 col-md-6 col-sm-12">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">

                    @{
                        int i = 0;
                        String c = "";
                        foreach (var image in Model.ProjectImages)
                        {
                            if (i == 0)
                            {
                                c = "carousel-item active";
                            }
                            else
                            {
                                c = "carousel-item";
                            }
                            i++;
                            if (Model.isVideo)
                            {
                                        <div class="@c">
                                            <video autoplay muted loop controls id="tm-video">
                                                <source src="@Url.Content(String.Format(image.imageRoute))" type="video/mp4">
                                            </video>
                                        </div>
                            }
                            else
                            {
                                <div class="@c">
                                    <img class="d-block w-100" alt=@image.ProjectImagesID src="@Url.Content(String.Format(image.imageRoute))">
                                </div>
                            }

                        }
                    }

                </div>
                <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>

        <div class="col-xl-4 col-lg-5 col-md-6 col-sm-12">
            <div class="tm-bg-gray tm-video-details">
                <h2 class="tm-text-gray-dark mb-3">Project Description:</h2>

                <p class="mb-4">
                    @Model.ProjectDescription
                </p>


                <div class="mr-4 mb-2">
                    <h2 class="tm-text-gray-dark mb-3">Format: </h2>
                    <p><span class="tm-text-primary">JPG</span></p>
                </div>
                <br />
                <div class="mb-4">
                    <h2 class="tm-text-gray-dark mb-3">Date Published:</h2>
                    <p><span class="tm-text-primary">@Model.DateCompleted</span></p>
                    <h2 class="tm-text-gray-dark mb-3">Resolution:</h2>
                    <p><span class="tm-text-primary">@Model.Resolution</span></p>
                </div>
                @if (SignInManager.IsSignedIn(User))
                {
                        @if (UserManager.GetUserAsync(User).Result.IsAdmin)
                        {
                            <a asp-controller="Projects" asp-action="Edit" asp-route-id=@Model.ProjectsID> Edit Project </a>
                            <a asp-controller="Projects" asp-action="Delete" asp-route-id=@Model.ProjectsID> Edit Project </a>

                        }
                }
            </div>


        </div>
        <div class="col pb-2">
            <form asp-controller="ProjectComments" asp-action="Create" method="post">
                <div class="form-group">
                    <h3>@TempData["CommentError"]</h3>                    
                    <label for="comment">Your Comment</label>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <textarea name="CommentText" class="form-control" rows="3"></textarea>
                    }
                    else
                    {
                        <textarea name="CommentText" class="form-control" rows="3" readonly> Please Sign in to leave a comment</textarea>

                    }
                </div>
                <input name="ProjectID" value=@Model.ProjectsID hidden />
                <button type="submit" class="btn btn-default float-right">Add Comment</button>
            </form>
        </div>

    </div>
    @{
        foreach (var comment in Model.ProjectCommentsID)
        {
            <div class="row pb-2">
                    <div class="comment" style="width:100%">
                        <div class="comment-text w-100">
                            <h6 class="font-medium">@comment.ApplicationUser.FullName</h6> <span class="m-b-15 d-block">@comment.CommentText </span>
                            <div class="comment-footer" style="width:100%"><p class="text-muted float-right">@comment.CommentTimeStamp</p>  </div>
                        </div>
                    </div>
            </div>
        }
    }

</div>
